/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styling */
  header {
    background-color: #0078D7;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  /* Nav styling */
  nav {
    background-color: #0078D7;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main styling */
  main {
    padding: 20px;
  }
  
  main h2 {
    margin-top: 0;
  }
  
  /* Button styling */
  .btn {
    background-color: #0078D7;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
  }
  
  /* Feature list styling */
  ul {
    list-style: none;
  }
  
  li {
    margin-bottom: 10px;
  }

footer {
    text-align: center;
}